

doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../style3.css type='text/css")
        title 
    body

    
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header
                        h4.card-title J    B    C
                form(method="POST" action ="/aboutus")
                    div.form-row
                        div.col.form-group
                            label  JUNIOR BABY CENTER
                            p The JBC Center is a Baby sitting Organisation business that helps 
                                p parents to take care of thier babies as they take chances in other activities
                                p the organisation has baby sitters and clubs that is headed by experienced supervisors to enable safty and well
                                p being of our babies.
                        div.col.form-group
                            p JBC was founded in 2019 by 2 perssionate software developers at refactory
                                
                            p The organisation was started by the need of efficient and helpful sitters that can be
                            
                            p Trusted by parents who are office going.

                    div.form-row
                        div.col.form-group
                            h1 JUNIOUR BABY SITTING CENTER TOGETHER WE CAN 
                    div.form-row
                        div.col.form-group
                            label OUR MISSION
                            P To create change and development among parents who want to change their lives and achieve impactful memoris through hard work
                        div.col.form-group
                            label OUR VISSION
                            P To be the leading baby sitting  center in whole of Africa

//- summery
//- this page talks about the jbc 
 
            