
doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../admin.css")

        title admin home page
    body

      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/aboutus') J  B  C
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        
        .collapse.navbar-collapse(id='navbarSupportedContent')
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/') Register sitter
            li.nav-item.active
              a.nav-link(href='/') Register supervisor
            li.nav-item.active
              a.nav-link(href='/listof') Regestered Supervisors
            li.nav-item.active
              a.nav-link(href='/listofappointment') View Booking list
            li.nav-item.active
              a.nav-link(href='/listofpayment') View Payment List
            li.nav-item.active
              a.nav-link(href='/parentappointmentform') Make Appointment
            li.nav-item.active
              a.nav-link(href='/parentpayments') View Payments
            li.nav-item.active
              a.nav-link(href='/babytosit') Record Bookings
          ul.navbar-nav.float-right
            li.nav-item.active
              a.nav-link(href='/adminsignup') Sing-up
            li.nav-item.active
               a.nav-link(href='/adminlogin') Log-Out
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='false', aria-expanded='true') Accounts
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href='/sitterlogin') logoin as a sitter
                a.dropdown-item(href='/adminlogin') logoin as an admin
                a.dropdown-item(href='/parentslogin') logoin as a parent
                a.dropdown-item(href='/supervisorlogin') logoin as a supervisor
      h2 WELCOME                                       TO                       J                                                    B                                                   C
      
123456789
      div.form-row
        div.col.form-group
          p YOU ARE MOST WELCOME TO JUNIOUR BABY SITTING  CENTER
       
        div.col.form-group  
          P Aplace far away from HOME!!!!
      div.form-row
        div.col.form-group
          p lets get the ball rolling as we 
          p go an extra mile to
          p get ahead of the game
      div.container
        div.row
          div.col-12 &copy Junior Baby Sitting Center

