

doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../home.css type='text/css")

        title home page
    body

    
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header
                        h4.card-title WELCOME TO JUNIOUR BABY SITTING CENTER
                form(method="POST" action ="/home")
                     
                        
                    div.form-row           
                        div.col.form-group         
                            a.btn.btn-primary.btn-block(href="/parentslogin")  MAKE APPOINTMENTS
                            a.btn.btn-primary.btn-block(href="/supervisorlogin") SUPERVISORS
                            a.btn.btn-primary.btn-block(href="/sitterlogin") SITTERS
                            a.btn.btn-primary.btn-block(href="/adminlogin")  ADMINSTRATORS     
                       
//- summery
//- this is the landing page, its physable to every one
