
doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        title Lists
    body
        
         header.card-header
            h4.card-tittle List Of registered sitters
                form(method="POST" action ="/listofregisteredsitters")
                  
                    div.form-row
                        div.col-12.form-group 
                            //- a.btn.btn-primary( href="/listofpayments" type='submit' style="width:100%") list of payments
                            button.btn.btn-primary(type='submit' style="width:100%") Next 
                table.table
                    thead.thead-dark
                        tr 
                            th name
                            th club
                            th Duties
                            th id
                    //- tbody   
                    //-      each user in users
                    //-          tr
                    //-              td #{name}
                    //-              td #{user.club}
                    //-              td #{user.duties}
                    //-              td #{user.id}



