

doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        title JBC 
    body
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header

                        block content
                        .main.container
                            .row
                                .col-md-12.col-md-offset-12
                                    h1.display-4.m-b-2  welcome to the admin login
                                    form(method='POST' action='/login')
                                        div.form-row
                                            div.col-6.form-group
                                                label(for='email') Email
                                                input.form-control(type='text' id='email' placeholder='email' name='email' required)
                                            div.col-6.form-group
                                                label(for='password') Password
                                                input.form-control(type='password' id='password' placeholder='password' name='password' required)

                                        div.form-row
                                            div.col-12.form-group  
                                                button.btn.btn-primary(type='submit' style="width:100%") Log in 
        script
        console.log("test")