
doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        title JBC 
    body
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header

                        block content
                        .main.container
                            .row
                                .col-md-12.col-md-offset-12
                                    h5.display-4.m-b-2 WELCOME TO J   B   C
                                        P Dear parent you are most Welcome to JBC  Login to prossceed.
                                    form(method='POST' action='/login')
                                        div.form-row
                                            div.col-6.form-group
                                                label(for='email') Email
                                                input.form-control(type='text' id='email' placeholder='email' name='email' required)
                                            div.col-6.form-group
                                                label(for='password') Password
                                                input.form-control(type='password' id='password' placeholder='password' name='password' required)
                                            
                                        div.form-row
                                            div.col-12.form-group  
                                                button.btn.btn-primary(type='submit' style="width:100%") Log in 
                                                 button.btn.btn-primary(href="/" type='submit' style="width:100%") Log in 
































//- doctype html
//- html
//-     head
//-         link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
//-         link(rel="stylesheet", href="css/bootstrap.min.css")
//-         title JBC
//-     body

    
//-         div.row.justify-content-center
//-             div.col-md-6
//-                 div.card-body
//-                     header.card-header
//-                         h4.card-title log-in
//-                 form(method="POST" action ="/login")
//-                     
//-                     div.form-row 
//-                         div.col.form-group         
//-                             button.btn.btn-primary.btn-block Log-in     
//-                         div.col.form-group         
//-                             button.btn.btn-primary.btn-block Log-out

//- summery
//- this is the loginin page, its to be used by all workers of jbc 


