

doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../style.css" type='text/css')
        title JBC 
    body
        div.row.justify-content-center
            div.col-md-7
                div.card-body
                    header.card-header
                        h4.card-title Make Payments
                    form(method="POST" action ="/parentpayments")
                        div.form-row
                            div.col.form-group
                                label parents name
                                input.form-control(name="firstname" type="text" id="firstname")
                            div.col.form-group
                                label amount 
                                input.form-control(name="lastname" type="text" id="lastname")
                        div.form-row
                            div.col.form-group
                                label name of the child you paying for 
                                input.form-control(name="name" type="text" id="name")
                            div.col.form-group
                                label duration ordered for 
                                input.form-control(name="duration" type="text" id="duration")
                        div.form-row
                            div.col.form-group
                                label section you seclected 
                                input.form-control(name="firstname" type="text" id="firstname")
                            div.col.form-group
                                label phone 
                                input.form-control(name="phone" type="text" id="phone")

                        
                        div.form-row           
                            div.col.form-group         
                                button.btn.btn-dark.btn-block make payments
