
doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        

        title supervisors
    body

    
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header
                        h4.card-title WELCOME TO JUNIOUR BABY SITTING CENTER
                form(method="POST" action ="/supervisors")
                     
                        
                    div.form-row           
                        div.col.form-group         
                            a.btn.btn-primary.btn-block(href="/parentslogin")  MAKE APPOINTMENTS
                            a.btn.btn-primary.btn-block(href="/regesteredsitter") Add sitters  
                            a.btn.btn-primary.btn-block(href="/babytosit")    View Bookings
                            a.btn.btn-primary.btn-block(href="/listofregisteredsitters") View Sitters
                            a.btn.btn-primary.btn-block(href="/supervisorsdashboard") Next  

