
body{
    background-image: url(pic3.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;

color: bisque;
}

form{
    font-size: 15px;
    background-color: #352f2e45;
     padding: 10px 20px; 
   
}

